* {
	font-family: 'VT323', monospace;
}

* {
	color: black;
	background-color:white
}

* {
	
	
}









* {
	margin: 0;
	padding: 5px;
}

.wrapper {
	margin: 0 auto;
	width: 1000px;
}

.img-lauren {
	width: 300px;
}


.img-pizza {
	width: 300px;
}

.img-silence {
	width: 300px;
}
.img-jesus {
	width: 300px;
}

.img-dog {
	width: 300px;
}
.img-devil {
	width: 300px;
}

.img-sis {
	width: 300px;
}


.img-ceo {
	width: 300px;
}
.img-kirb {
	width: 300px;
}

.img-brothers {
	width: 300px;
}
.img-pill {
	width: 300px;
}


.img-chanel {
	width: 300px;
}
.img-shoe {
	width: 300px;
}


.img-shoes {
	width: 300px;
}
.img-vader {
	width: 300px;
}


.img-god {
	width: 300px;
}
.img-yahoo {
	width: 300px;
}

.img-alien {
	width: 300px;
}
.img-ibex {
	width: 300px;
}
.img-vegyn {
	width: 300px;
}
.img-self2 {
	width: 300px;
}
.img-self1 {
	width: 300px;
}
.img-spray {
	width: 300px;
}
.img-iphone {
	width: 200px;
}
.img-jesus {
	width: 300px;
}
.img-dill {
	width: 300px;
}
.img-rat {
	width: 300px;
}
.img-yarddog {
	width: 300px;
}
.img-disney {
	width: 300px;
}
.img-mehappy {
	width: 300px;
}
.img-laurenhappy {
	width: 300px;
}
.img-yardyard {
	width: 300px;
}
.img-light {
	width: 300px;
}
.img-frank1 {
	width: 300px;
}
.img-alien {
	width: 300px;
}